<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /vue-vocabulary/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /vue-vocabulary/index.html [L]
</IfModule>