$primary-color: #5ebed2;
$background-color: #ffffff;

.dark  {
    --primary-color: #e41313;
    --background-color: #000000;
}

.light  {
    --primary-color: #5ebed2;
    --background-color: #ffffff;
}