$primary-color: #5ebed2;
$background-color: #ffffff;

.dark  {   
    --background-color: #000000;

    --head-background:#000608;
    --body-background:#dcdddd;

    --head-text:#fefefe;

    --btn1-color: #e41313;

    --h1-color: #51ee0d;

}  

.light  {  
    --background-color: #ffffff;

    --head-background:#f9f5f5;
    --body-background:#f7f8fa;

    --head-text:#111111;

    --btn1-color: #1390e4; 

    --h1-color: #5a1ef1;
}

.btn1 {
  &.dark {
    color: var(--btn1-color) !important;
  }

  &.light {
    color: var(--btn1-color) !important;
  }
}

.header {
  &.dark {
    background: var(--head-background);
    -webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    box-shadow: 0px 5px 10px rgba(230, 9, 9, 0.1); 
  }

  &.light {
    background: var(--head-background);
    -webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    box-shadow: 0px 5px 10px rgba(230, 9, 9, 0.1);
  }  
}

.nav-menu {  
  li a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 2px 0;
    position: relative;
  }

  &.dark li a {
    color: var(--head-text);    
  }

  &.light li a {
    color: var(--head-text);   
  }
} 

.breadcrumb-option {
  padding-top: 35px;

  &.dark {
    background: var(--body-background);    
  }
  &.light {
    background: var(--body-background);    
  }   
}

.breadcrumb__links{
  &.dark {
    background: var(--body-background); 
  }
  &.light {
    background: var(--body-background);
  } 
}

.spad {
  padding-top: 50px;
  padding-bottom: 50px;
  &.dark {
    background: var(--body-background); 
  }
  &.light {
    background: var(--body-background);
  } 
}

.footer {
  &.dark {
    background: var(--body-background); 
  }
  &.light {
    background: var(--body-background);
  } 
}

.footer__copyright__text {  
  border-top: 1px solid #e1e1e1;
  padding: 18px 0 25px;
  text-align: center;
  margin-top: 35px;

  &.dark {
    background: var(--body-background); 
  }
  &.light {
    background: var(--body-background);
  } 
 
}
